<div class="col-md-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{title}}
        </div>
        <div class="panel-body">
            <a class="btn btn-primary" [routerLink]="['/venues/new']">
                Create New Venue
            </a>
            <div class="table-responsive" *ngIf="venues && venues.length">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Venue</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let venue of venues" (click)="selectVenue(venue)">
                            <td><a [routerLink]="['/venues', venue.id]">{{venue.name}}</a></td>
                            <td>{{venue.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="!venues || !venues.length">
                There is no venue at this moment. Please come back later.
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <venue-detail [venue]="selectedVenue"></venue-detail>
</div>